<!DOCTYPE html>
<html>
  <title>Testing my scalability</title>
  <script type="text/javascript" src="../jquery.js"></script>
</head>
<body>
<button>Load Test</button>
  <script type="text/javascript">
    $(document).ready(function() {
      $('button').click(function(){
        var count = 0;
        var loadTest = setInterval(function(){
          //SEND REQUEST
        }, <TIME BETWEEN EACH REQUEST>);

        setTimeout(function(){
          clearInterval(loadTest);
        }, <DURATION OF TEXT>)
      })
    });

  </script>
</body>
</html>
